// COLOR VARIABLES - MODULE
// =============================================================================
// Simple color values, in line with what you might expect from a framework like
// Twitter Bootstrap.

$color-primary  : #1474CC;
$color-danger   : #FF4500;
$color-success  : #78C215;
$color-warning  : #EBB51A;

$color-upvote   : #FF4500;
$color-downvote : #9594FF;
