// INTERACTION - MODULE
// =============================================================================
// Defines some mixins and utilities for controlling the way that a user may
// and may not interact with the application.

// Disallow selection
@mixin no-select() {
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

// Disallow selection
@mixin allow-select() {
  cursor: auto;
  -webkit-touch-callout: initial;
    -webkit-user-select: initial;
     -khtml-user-select: initial;
       -moz-user-select: initial;
        -ms-user-select: initial;
            user-select: initial;
}
