// TEXT - MODULE
// =============================================================================

@mixin overflow-ellipsis() {
  white-space   : nowrap;
  overflow-x    : hidden;
  text-overflow : ellipsis;
}
