### LINUS PLS ###
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true

### SublimeText ###
*.sublime-workspace

### PyCharm ###
.idea

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### PROJECT SETTINGS ###
*.pyc
*.s[a-w][a-z]
!*.svg
*.mo
*.o
*.so

### KEYS ###
*.pem

# Any and all logs
*.log

### JS ###
node_modules
bower_components
